.navbar {
    margin: 0px;
    padding: 0;
    list-style-type: none;
    width: auto;
    background-color: #000000;
}

.navbar h1 {
    color: #ffffff;
    text-shadow: 1px 1px black;
    padding: 10px 50px;
    text-align: left;
}

.navbar a {
    color: #ffffff;
    padding: 10px 10px;
}

.navbar a:hover {
    background-color: gray;
    color: #101010;
}

.div {
    padding: 10px 50px;
}

.div p{
    font-size: 22px;
    text-align: justify;
}

.center {
    text-align: center;
}